<mat-toolbar class="menu">
    <mat-toolbar-row>
        <a routerLink="/"><img mat-card-image src="assets/img/logo.png"></a>
        <span class="example-spacer"></span>
        <a routerLink="/casaShow" class="btn-add-evento" mat-list-item><span class="material-icons">exposure_plus_1</span>Casa de Show</a>
        <a routerLink="/evento" class="btn-add-evento" mat-list-item><span class="material-icons">exposure_plus_1</span>Evento</a>
        <a class="btn-page-user" data-toggle="modal" data-target="#exampleModal" mat-list-item routerLink="/cadastro">Cadastro</a>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Modal -->


